<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" booking="width=device-width, initial-scale=1">
    <title>Project</title>
    <meta name="description" booking="A template for my other html projects">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/components/margin-elements.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="../static/css/login.css">
    
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
</head>
<body>

<header class="site-header">
    <div class="container">
        <a href="index.html" class="logo-link">
            <img src="../static/img/icon.png" alt="Website logo" id="site-logo">
        </a>

        <nav class="header-nav">
            <div class="inline-menu">
                <a href="{{ url_for('event.index') }}">Home</a>
                <!-- Lien temporaire -->
                <a href="{{ url_for('event.index') }}">Booking</a>
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
            </div>

            <input type="checkbox" id="hamburger-toggle" class="hamburger-toggle">
            <label for="hamburger-toggle" class="hamburger-toggle-label">
                <img src="../static/img/hamburger-menu.svg" alt="Menu" id="hamburger-icon">
            </label>

            <div class="hamburger-menu">
                <a href="{{ url_for('event.index') }}">Home</a>
                <!-- Lien temporaire -->
                <a href="{{ url_for('event.index') }}">Booking</a>
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
            </div>
        </nav>
    </div>
</header>