<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billetterie</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header class="site-header">
        <div class="container header-container">
            <div>
                <a href="{{ url_for('event.index') }}" class="logo">Billetterie</a>
                <p class="team-names">Myriam Boulet - François-Xavier Leclerc</p>
            </div>

            <nav class="nav-menu">
                <a href="{{ url_for('event.index') }}">Accueil</a>
                <a href="{{ url_for('auth.login') }}">Connexion</a>
                <a href="{{ url_for('auth.signup') }}">Inscription</a>
                {% if session.get("role") == "admin" %}
                <a href="{{ url_for('event.admin_dashboard') }}">Admin</a>
                {% endif %}

                {% if session.get("user_email") %}
                    <span class="login-status">Connecté : {{ session.get("user_email") }}</span>
                    <a href="{{ url_for('auth.logout') }}" class="logout-link">Déconnexion</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="site-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <p>&copy; 2026 - Système de réservation de billets</p>
    </footer>

</body>
</html>