{% extends "base.html" %}

{% block content %}
<section class="signup-section">
    <form class="signup-form" action="{{ url_for('auth.signup') }}" method="post">
        <h1>Create an account</h1>

        <div class="signup-credentials-container">
            <input type="text" name="email" placeholder="Email*" required>

            <input type="password" name="password" placeholder="Password*" minlength="8" required>

            <input type="password" name="password_repeat" placeholder="Repeat Password*" minlength="8" required>

            <button type="submit">Sign Up</button>
        </div>
    </form>
</section>
{% endblock %}